.details {
  padding: 2rem;
  display: flex;
}

.persona {
  display: flex;
  align-items: center;
  border-right: 1px solid lightgray;
  max-width: 33%;
  padding: 1rem;
}

.persona p.names {
  font-size: 22px;
  font-weight: 500;
}

.rating {
  padding: 2rem;
  text-align: center;
}

img {
  border-radius: 50%;
}
