<div class="container pt-5">

  <p role="button" routerLink="/users">
    <mat-icon class="pt-2">keyboard_backspace</mat-icon>&nbsp;Back to Users
  </p>
  <div class="d-flex justify-content-between">
    <h4 class="mat-h2 fw-bold">User Details</h4>
    <div>
      <button class="me-3" mat-stroked-button color="warn">BLACKLIST USER</button>
      <button mat-stroked-button color="primary">ACTIVATE USER</button>
    </div>
  </div>

  <div class="details shadow">
    <div class="persona">
      <img *ngIf="!user?.profile?.avatar" src="assets/img/avatar.svg" class="me-3" alt="">
      <img *ngIf="user?.profile?.avatar" [src]="user?.profile?.avatar" class="me-3" alt="">
      <div>
        <p class="names">
          {{user?.profile?.firstName | titlecase }} {{user?.profile?.lastName | titlecase }}
        </p>
        <p>{{user?.profile?.bvn}}</p>
      </div>
    </div>
    <div class="rating">
      <mat-star-rating [rating]="rating" [starCount]="starCount" (ratingUpdated)="onRatingChanged($event)"></mat-star-rating>
    </div>
  </div>
</div>
