.container {
  height: 80vh;
}

.row.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

form p {
  color: #39CDCC;
  font-weight: 500;
}

.btn-primary {
  background-color: #39CDCC;
  border-color: #39CDCC;
}


