<div class="container pt-5">
  <h4 class="mat-h2 fw-bold">Users</h4>
  <div class="row cards-row">
    <div class="col-md-3">
      <div class="col-md-12 shadow title-box rounded">
        <img src="assets/img/users.svg" alt="">
        <p class="pt-3">USERS</p>
        <p class="fw-bold figure">2,453</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12 shadow title-box rounded">
        <img src="assets/img/active_users.svg" alt="">
        <p class="pt-3">ACTIVE USERS</p>
        <p class="fw-bold figure">2,453</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12 shadow title-box rounded">
        <img src="assets/img/with_loans.svg" alt="">
        <p class="pt-3">USERS WITH LOANS</p>
        <p class="fw-bold figure">2,453</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12 shadow title-box rounded">
        <img src="assets/img/with_savings.svg" alt="">
        <p class="pt-3">USERS WITH SAVINGS</p>
        <p class="fw-bold figure">2,453</p>
      </div>
    </div>
  </div>
</div>
